@use "./variables";

section{
    width: auto;
    display: flex;
    justify-content: space-around;

    form{
        
        .form-padding{
            margin-right: 20px;
            margin: 20px;
        }
        .col-12{
            display: flex;
            justify-content: center;
        }
        
    }
}
