// COLORES

$b-color-1: red;
$b-color-2: blue;

// FONTS

$title-1: 50px;
$title-2: 30px;

// GRID

$container-pc: 1fr 1fr 1fr 1fr;
$container-mobile: 1fr;

// IMG SIZE

$img-size: min(100% - 10px, 600px);

